<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        id="cet30"
        src="https://campus.cet30.edu.ar/pluginfile.php/1/core_admin/logo/0x150/1685726834/logo-trans-300.png"
        alt="cet Logo"
        draggable="false"
        height="100"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" href="/inicio"
            ><i class="fas fa-plus-circle pe-2"></i>Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/admin"
            ><i class="fas fa-bell pe-2"></i>Admin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/catalogo"
            ><i class="fas fa-heart pe-2"></i>Catalogo</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
