<div class="contenido">
  <h1>Admin</h1>

  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Añadir Producto
  </button>

  <app-table></app-table>

  <div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmit()">
              <div class="titulo">
                <label class="form-label mt-3"> Título: </label>
                <input
                  class="form-control"
                  [(ngModel)]="product.title"
                  name="title"
                  required
                />
              </div>
              <div class="descripcion">
                <label class="form-label mt-3"> Descripción: </label>
                <input
                  class="form-control"
                  [(ngModel)]="product.description"
                  name="description"
                  required
                />
              </div>
              <div class="precio">
                <label class="form-label mt-3"> Precio: </label>
                <input
                  class="form-control"
                  [(ngModel)]="product.price"
                  name="price"
                  required
                />
              </div>
              <div class="imagen">
                <label class="form-label mt-3"> URL de la imagen: </label>
                <input
                  class="form-control"
                  [(ngModel)]="product.imageUrl"
                  name="imageUrl"
                  required
                />
              </div>
              <div class="accion">
                <button class="btn btn-primary mt-3" type="submit" data-bs-dismiss="modal">
                  Agregar producto
                </button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p style="color: grey;">Si no desea agregar los cambios, en la parte superior puede rechazar el agregar producto.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
