
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/descarga.jpg"class="img-fluid" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/1-slide-1670877653232-1561101405-7df76e850569ace2070f08267bef4bbc1670877667-1024-1024.png" class="img-fluid" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/4.png" class="img-fluid" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    
</div>