<div class="container">
  <div class="row">
    <div class="col-mb-3"></div>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../../assets/descarga.jpg"
            class="img-fluid"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/1-slide-1670877653232-1561101405-7df76e850569ace2070f08267bef4bbc1670877667-1024-1024.png"
            class="img-fluid"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/4.png"
            class="img-fluid"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  <div class="col-mb-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Computadoras Notebook Laptop Baratas Ssd 256gb 6gb WindowsComputadoras Notebook Laptop Baratas Ssd 256gb 6gb Windows
          Computadoras Notebook Laptop Baratas Ssd 256gb 6gb Windows
          Computadoras Notebook Laptop Baratas Ssd 256gb 6gb Windows</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://http2.mlstatic.com/D_NQ_NP_827721-MLA52264149794_112022-O.webp"
  
      />
      <mat-card-content>
        <p>
          La notebook InnJoo Home Voom MAX Super es una solución tanto para
          trabajar y estudiar como para entretenerte. Al ser portátil, el
          escritorio dejará de ser tu único espacio de uso para abrirte las
          puertas a otros ambientes ya sea en tu casa o en la oficina. Pantalla
          con gran impacto visual Su pantalla de 14" y 1920x1080 px de
          resolución te brindará colores más vivos y definidos. Tus películas y
          series preferidas cobrarán vida, ya que ganarán calidad y definición
          en cada detalle. Eficiencia a tu alcance Con su procesador Intel
          Celeron de 2 núcleos, lograrás el desempeño que necesitás para navegar
          y trabajar. Podrás usar los programas más esenciales, llevar a cabo
          tus tareas y organizar tu vida diaria. Potente disco sólido El disco
          sólido de 256 GB hace que el equipo funcione a gran velocidad y por lo
          tanto te brinda mayor agilidad para operar con diversos programas. Un
          procesador exclusivo para los gráficos Su placa de video Intel HD
          convierte a este dispositivo en una gran herramienta de trabajo para
          cualquier profesional del diseño. Te permitirá lograr una gran
          performance en todos tus juegos y en otras tareas cotidianas que
          impliquen procesamiento gráfico.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-mb-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>huawei matestation x kv</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://consumer.huawei.com/content/dam/huawei-cbg-site/latam/mx/mkt/plp/new/desktops-new/matestation-x-series/matestation-x-series-1.jpg"
    
      />
      <mat-card-content>
        <p>
          La PC de escritorio todo en uno HUAWEI MateStation X combina un
          rendimiento excepcional con un diseño llamativo y minimalista. La
          pantalla 4K+ FullView1 y los biseles superestrechos de 4 lados hacen
          que los colores reales2 estallen en una visión inmersiva, mientras que
          la pantalla multitáctil de 10 puntos y las funciones de conectividad
          inteligente crean nuevas y potentes posibilidades interactivas.
          Encuentra tu estación, haz realidad tu inspiración.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-mb-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>CELULAR SAMSUNG GALAXY Z FLIP4 8GB-128GB PINK GOLD</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://www.comeros.com.ar/wp-content/uploads/2022/12/Smartphone_Samsung_SMF721BZDJARO_04.webp"
     
      />
      <mat-card-content>
        <p>
          El Smartphone Samsung Galaxy Z Flip 4 ofrece dos cámaras de 12 MP, una
          ancha y una ultraancha y, además, una delantera de 10 MP con la
          función de autorretrato. Cuenta con FlexCam, una experiencia de cámara
          versátil y manos libres para aprovechar todos los ángulos del
          smartphone. También podrás tomar autorretratos con la cámara posterior
          mientras la pantalla Cover Screen ofrece una vista previa en tiempo
          real. Posee un procesador de 4 nm mejorado que trabaja con la batería
          de larga duración de 3700 mAh (uso típico) para funcionar hora tras
          hora. El smartphone está diseñado para ser duradero ya que soporta
          hasta 200 000 pliegues, la bisagra está protegida por Armor Aluminum,
          su marco de aluminio más resistente. El Samsung Z Flip4 posee un
          tamaño compacto, ideal para deslizarse por el bolsillo y la
          posibilidad de utilizarlo de forma plegada o abierta.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>
