<div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
      <div class="card">
        <img class="card-img-top" src="{{ producto.urlImagen }}" alt="Imagen del producto">
        <div class="card-body">
          <h5 class="card-title">{{ producto.titulo }}</h5>
          <p class="card-text">{{ producto.descripcion }}</p>
          <p class="card-text">Precio: {{ producto.precio }}</p>
          <a href="#" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
  