<div class="contenido">
  <div *ngFor="let product of products" class="card" style="width: 18rem">
    <img
      [src]="product.imageUrl"
      class="card-img-top"
      alt="{{ product.title }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Precio: {{ product.price }}</p>
      <button class="edit-button">Editar</button>
       <button class="delete-button">Eliminar</button>
    </div>
  </div>
</div>
