/* You can add global styles to this file, and also import other style files */
.contenido{
    margin-top: 8rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
